@import '_variable.scss';


// text

@mixin textTitle {
    font-family: $font-primary;
    font-weight: $fontRe;
    font-size: 64px;
    line-height: 72px;
    @include color-text-primary();
}

@mixin textDescription {
    font-family: $font-secondary;
    font-weight: $fontLi;
    font-size: 20px;
    line-height: 28px;
    @include color-text-dark();
}

// button

@mixin primaryBtn {
    font-family: $font-secondary;
    font-weight: $fontRe;
    font-size: 18px;
    line-height: 26px;
    text-align: start;
    gap: 12px;
    padding: 8px 16px;
    @include color-text-primary;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}