.textTitle {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #8A6C60;
}

.textDescription {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  color: #262626;
}

.primaryBtn {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: start;
  gap: 12px;
  padding: 8px 16px;
  color: #8A6C60;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.main-nav {
  z-index: 10;
  width: 100%;
  position: fixed;
  top: 42px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-nav-dark {
  z-index: 10;
  width: 100%;
  position: fixed;
  top: 42px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-link-dark {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
  text-decoration: none;
}

.nav-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 42px;
}

.nav-link {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.hero-section {
  height: 100vh;
  position: relative;
}

.hero-section-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 0 120px;
}

#myVideo {
  position: static;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.hero-title-row {
  position: absolute;
  bottom: 32px;
}

.hero-title {
  font-family: "Libre Baskerville", serif;
  font-size: 80px;
  line-height: 100px;
  text-align: start;
  font-weight: 300;
  color: #FFFFFF;
}

.default-img {
  width: 100%;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}

.exclusive-section {
  height: auto;
  padding: 120px 0;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exclusive-content-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.exclusive-img-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.exclusive-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 16px;
  height: auto;
  padding: 42px 0;
}

.exclusive-img-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.exclusive-title {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #8A6C60;
}

.exclusive-description {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  color: #262626;
}

.gallery-section {
  height: auto;
  padding: 120px 0;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.gallery-title {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #8A6C60;
}

.gallery-description {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  color: #262626;
}

.gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.gallery-img-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.gallery-img-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-img {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-img-wrap-sm {
  width: 100%;
}

.last-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 120px 0;
}

.last-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 24px;
}

.last-title {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #8A6C60;
}

.last-description {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  color: #262626;
}

.last-content-row {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 84px 0px 120px 0px;
  background-color: #8A6C60;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.footer-logo-col {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 16px;
}

.footer-link-col {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 16px;
}

.footer-item {
  padding-left: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.footer-icon-wrap {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 24px;
}

.footer-icon {
  font-size: 32px;
  color: #F6F6F6;
}

.footer-cpr {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}

.footer-link {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */