@import '_variable.scss';
@import '_mixin.scss';
@import '_output.scss';

.main-nav {
    z-index: 10;
    width: 100%;
    position: fixed;
    top: 42px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-nav-dark {
    z-index: 10;
    width: 100%;
    position: fixed;
    padding-top: 24px;
    top: 0px;
    @include color-bg-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-120px);
    opacity: 0;
}

.nav-link-dark {
    font-family: $font-secondary;
    font-weight: $fontRe;
    font-size: 16px;
    line-height: 24px;
    @include color-text-dark;
    text-decoration: none;
}

.nav-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 42px;
}

.nav-link {
    font-family: $font-secondary;
    font-weight: $fontRe;
    font-size: 16px;
    line-height: 24px;
    @include color-text-white;
    text-decoration: none;
}

.hero-section {
    height: 100vh;
    position: relative;
    overflow: hidden !important;
}

.hero-section-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 0 120px;
}

#myVideo {
    position: static;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero-title-row {
    position: absolute;
    bottom: 32px;
}

.hero-title {
    font-family: $font-primary;
    font-size: 80px;
    line-height: 100px;
    text-align: start;
    font-weight: $fontLi;
    @include color-text-white;
}

// exclusive-section
.default-img {
    width: 100%;
    height: 420px;
    object-fit: cover;
}

.exclusive-section {
    height: auto;
    padding: 120px 0;
    @include color-bg-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exclusive-content-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.exclusive-img-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.exclusive-content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 16px;
    height: auto;
    padding: 42px 0;
}

.exclusive-img-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.exclusive-title {
    @include textTitle;
}

.exclusive-description {
    @include textDescription;
}

// gallery-section

.gallery-section {
    height: auto;
    padding: 120px 0;
    @include color-bg-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.gallery-title {
    @include textTitle;
}

.gallery-description {
    @include textDescription;
}

.gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.gallery-img-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.gallery-img-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.gallery-img-wrap-sm {
    width: 100%;
}

// last section 

.last-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 120px 0;
}

.last-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 24px;
}

.last-title {
    @include textTitle;
}

.last-description {
    @include textDescription;
}

.last-content-row {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

// footer

.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 84px 0px 120px 0px;
    @include color-bg-primary;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.footer-logo-col {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
}

.footer-link-col {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
}

.footer-item {
    padding-left: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.footer-icon-wrap {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 24px;
}

.footer-icon {
    font-size: 32px;
    color: $color-neutral-50;
}

.footer-cpr {
    font-family: $font-secondary;
    font-weight: $fontRe;
    font-size: 14px;
    line-height: 22px;
    @include color-text-white;
}

.footer-link {
    font-family: $font-secondary;
    font-weight: $fontRe;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    @include color-text-white;
}

// img-section
.img-section {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#imgSection1 {
    background-image: url('./images/img_section_1.jpeg');
}

#imgSection2 {
    background-image: url('./images/img_section_2.jpeg');
}

#imgSection3 {
    background-image: url('./images/img_section_3.jpeg');
}